header button {
	float: right;
	width: var(--space-4);
	height: var(--space-4);
	margin-top: calc((var(--space-6) - var(--space-4)) / 2);
	font-size: var(--space-0);
	padding: 0;
}

#settings_container {
	padding: var(--space-0);
}

.settings_group {
	background: var(--color-background-2);
	padding: var(--space--1) var(--space-0);
	margin-bottom: var(--space-0);
	border-radius: 5px;
}

.settings_group .settings_group_header {
	display: flex;
}

.settings_group .settings_group_header h2,
.settings_group h2 {
	margin: 0;
	flex-grow: 1;
}

.settings_group .settings_group_header button {
	height: calc(var(--space-1) * 1.27);
}

.settings_group .settings_group_header button.state_toggle_button {
	padding: 0;
	min-width: calc(var(--space-1) * 1.27);
}

.settings_group > * + *,
.input_group {
	margin-top: var(--space--2);
}
.input_group {
	display: flex;
	line-height: var(--space-3);
}
.input_group > * + * {
	margin-left: var(--space--2);
}

#color_input_groups_container .input_group button,
#periods_input_groups_container .input_group button,
#timetable_settings_group .schedule_inputs_container .input_group button {
	background-color: var(--color-background-1);
}

#color_input_groups_container .input_group label {
	width: 12ch;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
}

#color_input_groups_container .input_group input {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	flex-grow: 1;
}

#color_input_groups_container .input_group .color_preview {
	margin-top: calc((var(--space-3) - var(--space-2)) / 2);
	width: var(--space-2);
	height: var(--space-2);
	border-radius: 5px;
}

#color_input_groups_container .input_group .icon-delete {
	width: var(--space-3);
	padding: 0;
	color: var(--color-negative);
}

label[for="restore_file_input"] {
	height: var(--space-3);
	padding: 0 var(--space--1);
	border-radius: 5px;
	line-height: var(--space-3);
	text-transform: uppercase;
	font-size: var(--space--1);
	font-weight: 500;
	transition: background-color 0.2s;
}

label[for="restore_file_input"]:active {
	background-color: var(--color-background-3);
}

input[name="restore_file_input"] {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--color-positive);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-positive);
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

input[type="checkbox"] {
	transform: scale(1.5) translateY(-2px);
}

@media print {
    *,
    *:before,
    *:after {
        display: none !important;
    }
}